--- 
layout: default
home: 1
--- 
<main>
    {% include sections/intro-section-02.html %}
    {% include sections/o-service-section.html %}
    {% include sections/feature-section.html %}
    {% include sections/service-section.html %}
    {% include sections/project-section.html %}
    {% include sections/price-table-section.html %}    
    {% include sections/brand-section.html %}    
    {% include sections/blog-section.html %}
    {% include sections/faq-section.html %}
</main>
